---
import {
  trips,
  groupTripsByYear,
  getSortedYears,
  getTbaTrips,
} from "@lib/travel";
import TravelTrip from "./TravelTrip.astro";
import styles from "./TravelTripList.module.css";

const tripsByYear = groupTripsByYear(trips);
const years = getSortedYears(tripsByYear);
// const tbaTrips = getTbaTrips(trips);
---

<div class={styles.tripList}>
  <!-- {
    tbaTrips.length > 0 && (
      <div class={styles.yearGroup}>
        <div class={styles.yearHeader}>TBA</div>
        <div class={styles.yearTrips}>
          {tbaTrips.map((trip) => (
            <TravelTrip trip={trip} />
          ))}
        </div>
      </div>
    )
  } -->
  {
    years.map((year) => (
      <div class={styles.yearGroup}>
        <div class={styles.yearHeader}>{year}</div>
        <div class={styles.yearTrips}>
          {tripsByYear[year].map((trip) => (
            <TravelTrip trip={trip} />
          ))}
        </div>
      </div>
    ))
  }
</div>
