---
import "flag-icons/css/flag-icons.min.css";
import { trips } from "@lib/travel";
import styles from './TravelTripList.module.css';

const getCountryFlag = (code: string) => {
  const parts = code.split("-");
  if (parts.length > 1) {
    return {
      isMultiple: true,
      firstPart: parts[0],
      fullCode: code
    };
  }
  return {
    isMultiple: false,
    code: code
  };
};
---

<div>
  {trips.map((trip) => (
    <div class={styles.trip}>
      <div class={styles.date}>{trip.date}</div>
      <div class={styles.destination}>
        {trip.destination.map((destination) => {
          const flagInfo = getCountryFlag(destination.country[0]);
          return (
            <div class={styles.city}>
              {flagInfo.isMultiple ? (
                <div class={styles.multiple}>
                  <div class={[styles.flag, "fi", `fi-${flagInfo.firstPart}`].join(' ')} />
                  <div class={[styles.flag, "fi", `fi-${flagInfo.fullCode}`].join(' ')} />
                </div>
              ) : (
                <span class={[styles.flag, "fi", `fi-${flagInfo.code}`].join(' ')} />
              )}
              {destination.city}
            </div>
          );
        })}
      </div>
    </div>
  ))}
</div>
