---
const pathname = Astro.url.pathname.replace(/\/+$/, '');

// const footerItems = [
//   {
//     text: pathname === "/" ? `~/Zach` : `~/Zach${pathname}`,
//     // color: "#E19898",
//     color: "#fc60a8",
//   },
//   // {
//   //   text: "Software Developer",
//   //   // color: "#3F1D38",
//   //   color: '#7a28cb',
//   // },
//   // {
//   //   text: "X5 Group",
//   //   // color: "#4D3C77",
//   //   color: '#494368',
//   // },
//   // {
//   //   text: "See [ blog :: photos :: travel ]",
//   //   color: "#A2678A",
//   // },
// ];
---

<footer>
  <section class="left">
    <div class="block path-block">
      {pathname === "/" && <>~/Zach</>}
      {
        pathname !== "/" && (
          <>
            <a href="/">~/Zach</a>
            {pathname}
          </>
        )
      }
    </div>
    <!-- {
      footerItems.map((item, index) => {
        const firstBlock = index === 0;
        const lastBlock = footerItems.length === index + 1;
        const blockStyle = `background-color: ${item.color}; margin-left: ${index === 0 ? 0 : "-10px"}; padding-right: 15px; padding-left: ${firstBlock ? "10px" : "15px"}; font-weight: ${firstBlock ? 600 : 400}`;
        const dividerStyle = `margin-left: ${lastBlock ? "-10px" : "-15px"}; background-color: ${item.color}`;
        return (
          <>
            <div class="block" style={blockStyle}>
              {item.text}
            </div>
            {!lastBlock && <div class="divider" style={dividerStyle} />}
          </>
        );
      })
    } -->
  </section>
  <!-- <section class="right">
    <div class="block contacts" style="padding: 0 10px">
      Contacts <Icon name="user" />
    </div>
  </section> -->
</footer>

<style>
  footer {
    font-family: "FiracodeVariable", monospace;
    box-sizing: border-box;
    background-color: #222;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    color: #fff;
  }

  @media (prefers-color-scheme: light) {
    footer {
      background-color: #ebedf0;
      color: #222;
      /* background-color: #ceec97; */
    }
  }

  .left {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .right {
    display: flex;
    align-items: center;
    /* background-color: #76abae; */
    background-color: #f4b393;
  }

  .icon {
    width: 16px;
    height: 16px;
  }

  .block {
    font-weight: 400;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .path-block {
    padding: 0 10px;
    /* background-color: #fc60a8; */
    font-weight: 600;
  }

  .path-block > a {
    color: unset;
    text-decoration: unset;
  }

  .path-block > a:hover {
    text-decoration: underline;
  }

  .divider {
    box-sizing: border-box;
    display: block;
    width: 20px;
    height: 100%;
    z-index: 2;
    clip-path: polygon(50% 0%, 100% 0%, 50% 100%, 0% 100%);
  }

  [data-icon="user"] {
    font-size: 1.5rem;
  }

  .contacts {
    display: flex;
    gap: 5px;
  }
</style>
